Source: swiftlifecyclemanagement
Maintainer: A2 company <a2company@a2company.co.kr>
Section: python
Priority: optional
Build-Depends:
 python-setuptools (>= 0.6b3),
 python-all (>= 2.6.6-3),
 debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-swiftlifecyclemanagement
Architecture: all
Depends:
 ${misc:Depends}
Provides: ${python:Provides}
Description: Swift S3 Lifecycle Management Middleware

Package: swift-s3-lifecycle-propagator
Architecture: all
Depends:
 python-swiftlifecyclemanagement (=${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${python:Provides}
Description: Swift S3 Lifecycle Propagator

Package: swift-s3-object-expirer
Architecture: all
Depends:
 python-swiftlifecyclemanagement (=${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${python:Provides}
Description: Swift S3 Lifecycle Object Expirer

Package: swift-s3-object-transitor
Architecture: all
Depends:
 python-swiftlifecyclemanagement (=${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${python:Provides}
Description: Swift S3 Lifecycle Object Transitor

Package: swift-s3-object-restorer
Architecture: all
Depends:
 python-swiftlifecyclemanagement (=${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${python:Provides}
Description: Swift S3 Lifecycle Object Restorer

Package: swift-s3-restored-object-expirer
Architecture: all
Depends:
 python-swiftlifecyclemanagement (=${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${python:Provides}
Description: Swift S3 Lifecycle Restored Object Expirer

